body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: #fff;
	font-family: sans-serif;
	margin: 0;
	overflow: hidden;
	overflow-x: hidden;
	position: static !important;
}
.wallpaper--no-transition {
	transform: none;
}
.wallpaper--full-panel, .wallpaper--half-panel, .wallpaper--no-transition {
	transition: transform .5s cubic-bezier(.77,0,.175,1);
}
.wallpaper {
	background: #17181a;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
.wallpaper__content--appear-active, .wallpaper__content--appear-done, .wallpaper__content--enter-active, .wallpaper__content--enter-done {
	opacity: 1;
	transition: opacity .5s ease .5s;
}
.scrollable .scrollable__content {
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: 0 -17px 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.uploader .scrollable.transfer__contents {
	overflow: auto;
}
.brutecorp_login .transfer__contents {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: 400;
	font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	height: 21.125em;
	overflow: hidden;
}
.scrollable {
	height: 100%;
	overflow: hidden;
	overflow-x: hidden !important;
	position: relative;
	width: 100%;
}
.brutecorp_login .transfer__window {
	height: 100%;
}
.brutecorp_login {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 12px 0 rgba(0,0,0,.1),0 10px 30px 0 rgba(0,0,0,.2);
	height: 25.625em;
	left: 5em;
	margin: -12.8125em 0 0;
	position: absolute;
	top: 50%;
	transition: transform .5s cubic-bezier(.77,0,.175,1);
	width: 17.5em;
	z-index: 30;
}
.root-node .application {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.nav {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(23,24,26,.11);
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: border-color .5s ease,opacity .4s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 40;
}
.nav .nav__items, .nav .nav__subitems {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.nav .nav__items {
	display: flex;
}
.nav .nav__item {
	align-items: center;
	display: flex;
	border-right: 1px solid #d4d7d9;
	flex-grow: 1;
	justify-content: center;
	transition: background-color .2s ease-out;
}
.nav .nav__item:first-child > :first-child {
	margin-right: auto;
}
.nav .nav__item .nav__link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}
.nav .nav__items, .nav .nav__subitems {
	list-style: none;
	white-space: nowrap;
}
.nav .nav__item .nav__label {
	color: #17181a;
	font-weight: 500;
	font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	font-size: .875em;
	padding: 0 12px;
	text-decoration: none;
}
.nav .nav__label {
	cursor: pointer;
	display: inline-block;
	height: auto;
	line-height: 2.375rem;
	position: relative;
	transition: color .2s ease-out;
}
.brute_wallpaper {
	opacity: 1;
}

.spinner.logo .spinner__logo {
	cursor: pointer;
	left: -.25em;
	position: absolute;
	top: .5em;
	transition: transform .2s ease;
}

.spinner.logo {
	position: fixed;
}

.logo {
	left: 18px;
	position: absolute;
	top: 8px;
	transition: opacity .4s ease;
	z-index: 40;
}

.brute_wallpaper{
	width: 100vw;
	height: 100vh;
	display: block;
	position: relative;
	overflow: hidden;
	transition: opacity .6s;
}
#background {
	width: 100%;
	height: 100%;
	background-color: #b9c3db;
	-webkit-transition: background-color 1s ease;
	transition: background-color 1s ease;
}
#background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	z-index: -1;
}
.wallpaper__content--appear-active, .wallpaper__content--appear-done, .wallpaper__content--enter-active, .wallpaper__content--enter-done {
	opacity: 1;
	transition: opacity .5s ease .5s;
}
.wallpaper__html{
	background: transparent;
	border: 0;
	transition: transform .5s cubic-bezier(.77,0,.175,1);
	z-index: 1;
}

.wallpaper__html, .wallpaper__image {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.uploader--form .textfield {
	border-color: #d4d7d9;
	height: 47px;
	margin: 0;
}
.textarea, .textfield {
	font-weight: 400;
	font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	background: #fff;
	border: 1px solid #babcbf;
	border-radius: 5px;
	clear: both;
	color: #6a6d70;
	height: 50px;
	margin-top: .625em;
	position: relative;
}

.uploader__fields .textfield__label {
	left: .8125em;
}

.textarea__label, .textfield__label {
	color: #6a6d70;
	font-size: .875em;
	left: 1.42857em;
	position: absolute;
	top: 1.07143em;
	transition: .2s cubic-bezier(.77,0,.175,1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
}
.uploader--form .textfield__field {
	padding: 1.14286em 8% 0 .71429em;
}

.uploader--form .textfield__field {
	padding: 0 8% 0 .71429em;
}
.uploader__fields .textarea__field, .uploader__fields .textfield__field {
	border-radius: 0;
	box-shadow: 0 0 0;
}
.brutecorp_login .login__button--inactive, .brutecorp_login .login__button--inactive:focus, .brutecorp_login .login__button--inactive:hover {
	background: #babcbf;
	border-color: #babcbf;
	color: #fff;
}
.brutecorp_login .login__button {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #409fff;
	border: 1px solid #409fff;
	border-radius: 1.25em;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 2.5em;
	outline: 0;
	font-weight: 500;
	font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	transition: border-color .2s cubic-bezier(.77,0,.175,1),background-color .2s cubic-bezier(.77,0,.175,1),color .2s cubic-bezier(.77,0,.175,1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 9.75em;
}
.brutecorp_login .transfer__footer {
	border-top: 1px solid #d4d7d9;
	height: 4.5em;
	padding: 0 1.25em;
	position: relative;
}
.uploader__fields {
	min-height: 7.5em;
	padding: 0 .625em;
}
.uploader--form .uploader__files {
	border-bottom: 1px solid #d4d7d9;
	position: relative;
}
.uploader--type-email .uploader__empty-state {
	min-height: 5.3125em;
	padding-top: 3.75em;
}
.textarea--borderbottom, .textfield--borderbottom {
	border-radius: 0;
	border-width: 0 0 1px;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert p {
	font-weight: 400;
	color:#a94442;
	font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	padding: 0;
	display:flex;
	justify-content:center;
}

.uploader--form .uploader__empty-state h2 {
	display: block;
	font-size: 1.375em;
	margin: 0;
	font-weight: 400;
	font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	padding: 0;
	position: absolute;
	text-align: center;
	transition: all .4s cubic-bezier(.77,0,.175,1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form-focus.focused .focus-label {
	opacity: 1;
	top: 0px;
	font-size: 12px;
	z-index: 1;
}

.textarea__field, .textfield__field {
	font-weight: 400;
	font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
	background-color: transparent;
	background-position: 150% 50% !important;
	border: 0;
	border-radius: 5px;
	font-size: .875em;
	height: 100%;
	left: 0;
	overflow: hidden;
	padding: 1.28571em 8% 0 1.42857em;
	position: absolute;
	text-overflow: ellipsis;
	width: 100%;
	z-index: 2;
}

.logo, .wrapper {
	position: absolute;
}

.wrapper {
	height: 100%;
	left: calc(240px + 43%);
	min-height: 245px;
}

.wrappercopy {
	width: 60vw;
	max-width: 80vh;
	min-width: 300px;
	height: calc(.75*60vw);
	max-height: calc(.75*80vh);
	min-height: calc(.75*300px);
	top: 54%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.copy, .cta, .photo, .wrappercopy {
	position: absolute;
	left: 50%;
}
.copy {
	bottom: 5%;
	width: 110%;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transform: translate(-50%,0) scale(1);
	transform: translate(-50%,0) scale(1);
}
.image-container, .imgwrapper {
	position: absolute;
	width: 70vw;
	max-width: 100vh;
	min-width: 300px;
	height: calc(.75*30vw);
	max-height: calc(.75*40vh);
	min-height: calc(.75*150px);
	top: 54%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.photo {
	width: 50%;
	top: 0;
	-webkit-transition: -webkit-transform 1s ease;
	transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
	transition: transform 1s ease, -webkit-transform 1s ease;
}